/*Copyright 2015 ThoughtWorks, Inc.*/
/*This file is part of getgauge/html-report.*/
/*getgauge/html-report is free software: you can redistribute it and/or modify*/
/*it under the terms of the GNU General Public License as published by*/
/*the Free Software Foundation, either version 3 of the License, or*/
/*(at your option) any later version.*/
/*getgauge/html-report is distributed in the hope that it will be useful,*/
/*but WITHOUT ANY WARRANTY; without even the implied warranty of*/
/*MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the*/
/*GNU General Public License for more details.*/
/*You should have received a copy of the GNU General Public License*/
/*along with getgauge/html-report.  If not, see <http://www.gnu.org/licenses/>.*/

* {
    box-sizing: border-box;
}
html,body{
  height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    outline: 0;
    background: #ebebeb;
  	line-height: 1em;
}
h1,h2,h3,h4,h5,h6{
  margin: 10px 0;
}
pre{
  overflow: visible;
}
.header{
  background: #ecc31c;
}

.logo, .project{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.footer{
  text-align: center;
  background: #ccc;

  font-size: 0.8em;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.sidebar, .curr-spec{
  background: #3b234c;
  color: #FFF;
  margin-bottom: 48px;
}
.sidebar, .report, .spec{
  position: static;
  width: 100%;
  float: none;
}
.report, .spec{
  left: 25%;
}
.report{
  padding: 10px;
}
.logo, .project, .footer, .filtersSearch{
	padding: 10px;
}
.searchbar, .filter{
  margin: 10px 20px;
}
.searchbar{
  text-align: center;
  position: relative;
  color: #FFF;
}
input, .clipboard-btn{
    padding: 5px;
    border: 1px solid #CCC;
    background: #848383;
    border-radius: 5px;
}
.searchbar input{
    width: 100%;
    padding-right: 20px;
}
.searchbar i{
  position: absolute;
  right: 10px;
  color: #CCC;
  top: 8px;
}

.filter{
  display: flex;
  color: #000;
}

.filter button{
  width: 25%;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  position: relative;
}
.filter button:hover{
  opacity: 0.8;
}
.filter button:active, .filter button:focus {
  border: none;
  outline: 0;
}
.filter button:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.filter button:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.passedBG, .green{
  background: #66cbac;
  border-color: #66cbac;
  fill: #66cbac;
}
.failedBG, .red{
  background: #d9534f;
  border-color: #d9534f;
  fill: #d9534f;
}
.allBG{
  background: #FFF;
  border-color: #FFF;
}
.skippedBG{
  background: #CCC;
  border-color: #CCC;
  fill: #CCC;
}
.greentxt{
  color: #66cbac;
}
.redtxt{
  color: #d9534f;
}
.greytxt{
  color: #CCC;
}

.shadow{
  opacity: 0.5;
}
.active:after{
  width: 0;
  height: 0;
  border-color: inherit;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: " ";
  border-top-width: 5px;
  border-top-style: solid;
  position: absolute;
  bottom: -6px;
  left: calc(50% - 5px);
}

#listOfSpecifications{
  width: 100%;
}
.spec-list{
  margin: 0;
  padding: 0;
}
.spec-list li{
  list-style: none;
  border-bottom: 1px solid #534d57;
}
.spec-list a{
  color: #FFF;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
.spec-list .passed{
  border-left: 5px solid #66cbac;
}
.spec-list .failed{
  border-left: 5px solid #d9534f;
}
.spec-list .skipped{
  border-left: 5px solid #CCC;
}

.spec-name .time{
  float: right;
}
.box{
  background: #FFF;
  padding: 10px;
  margin: 10px 0;
}
.report_test-results ul, .report_details ul{
  list-style: none;
  padding: 0;
  width: 50%;
  margin: 10px auto;
}
.report_test-results li, .report_details li{
  border-bottom: 1px dotted #CCC;
  line-height: 1.5em;
}
.report_test-results li label, .report_details li label{
  width: 60%;
  display: inline-block;
}
.text_center{
  text-align: center;
}
.curr-spec{
  padding: 10px;
  margin-bottom: 0px;
}
#specItemsContainer{
  padding: 10px 20px;
  margin-bottom: 48px;
}
.spec_test_results{
  display: inline-block;
  float: right;
}
.spec_test_results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.spec_test_results li, .spec_test_results li label {
    display: inline-block;
    margin-right: 10px;
}
.spec_test_results li:last-child{
  margin-right: 0px;
}
.specTime{
  line-height: 32px;
}

.scenario-container {
    margin: 20px 0;
    position: relative;
    padding-bottom: 1px;
}

.scenario-container.passed:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #27caa9;
    display: block;
    position: absolute;
}

.scenario-container.failed:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e73e48;
    display: block;
    position: absolute;
}

.scenario-container.skipped:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #a1a1a1;
    display: block;
    position: absolute;
}

.scenario-container .passed {
    position: relative;
}

.scenario-container .passed:before {
    content: "";
    width: 5px;
    height: 100%;
    background: #27caa9;
    position: absolute;
    left: 0;
    top: 0;
}

.scenario-container .passed ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.scenario-container .failed {
    position: relative;
}

.scenario-container .failed:before {
    content: "";
    width: 5px;
    height: 100%;
    background: #e73e48;
    position: absolute;
    left: 0;
    top: 0;
}

.scenario-container .not-executed {
    border-left: 5px solid #a1a1a1;
    margin-top: 20px;
}

.scenario-container .not-executed .step {
    color: #a1a1a1;
}

.scenario-head {
    margin-left: 40px;
    margin-bottom: 20px;
}

.scenario-head .head {
	margin: 0px;
    margin-bottom: 10px;
    display: inline-block;
}

.scenario-head .time {
    display: inline-block;
    font-size: 0.8rem;
    color: #999999;
}

.scenario-head .tags {
    margin: 0 0 10px 0;
}

.step {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #333333;
}

.step ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.step li {
    padding: 0.5rem;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

.step li:last-child {
    margin-bottom: 0;
}
.step li:first-child {
    margin-top: 10px;
}

.step li.pass {
    border-left: 5px solid #27caa9;
}

.step li.fail {
    border-left: 5px solid #e73e48;
}

.step li.skip {
    border-left: 5px solid #cccccc;
}

.step.context li {
    border: 1px dashed #cccccc;
}

#specificationContainer h2 {
    margin-bottom: 10px;
}

.errored {
    background-color: #ffda8b;
}

.context-step li {
    font-style: italic;
    border: 1px dashed #cccccc;
}
.execution-time {
    margin: 10px 0 5px 0;
    color: #999999;
    font-style: italic;
}
.step-info {
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px){
  .logo{
    width: 25%;
  }
  .project{
    width: 75%;
    margin-left: -5px;
  }
  .sidebar{
    width: 25%;
  }
  .report, .spec{
    width: 75%;
    float: right;
    overflow: auto;
  }
  .sidebar, .report, .spec{
      position: absolute;
      top: 64px;
      bottom: 38px;
      margin-bottom: 0px;
  }
  #listOfSpecifications{
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 0px;
    border-width: 5px;
    top:100px;
    overflow-y: auto;
  }
  .filtersSearch{
    padding: 0px;
  }
  .box{
    width: calc(50% - 6px);
    display: inline-flex;
    min-height: 180px;
    vertical-align: top;
    margin-right: 6px;
    align-items: center;
  }
  .box:last-child{
    margin-right: 0;
  }
  .report_chart,.report_test-results{
    width: 50%;
  }
  .inline_block_desktop{
    display: inline-block;
  }
  .report_test-results ul, .report_details ul{
    width: 100%;
  }
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    padding: 10px;
    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;

}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
