{{define "spec"}}
    <main class="spec">
      <div id="specificationContainer" class="details">
        {{template "specheader" (toSpecHeader .)}}
        {{template "spec_details" .}}
      </div>
    </main>
{{end}}